target/
!.mvn/wrapper/maven-wrapper.jar
mvn*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
logs

### IntelliJ IDEA ###
.idea
logs
*.iws
*.iml
*.ipr

### NetBeans ###
logs/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/